services:

  app:
    build: 
      context: .
      dockerfile: Dockerfile.dev
      target: testing
    command: uvicorn src.main:app --host=0.0.0.0 --reload
    ports:
      - '8000:8000'
    volumes:
      - ./src:/app/src/
    env_file:
      - ./.env
    depends_on:
      - db
    restart: always

  db:
    image: postgres:18
    container_name: db
    restart: always
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - devdb-volume:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - db

name: uow
volumes:
  devdb-volume: